acme.example.com

internal /config
internal /data
proxy / owncloud:80 {
	proxy_header Host {host}
	proxy_header X-Real-IP {remote}
	proxy_header X-Forwarded-Proto {scheme}
	except /config
	except /data
}
gzip
log stdout
errors stdout
